[user]
    name = "Deyvison Rocha"
    email = deyvison@gmail.com
[core]
    editor = vim
    fileMode = false
[push]
    default = matching
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[difftool]
    prompt = false
[alias]
    st = status
    cm = commit -m
    co = checkout
    mg = merge --no-ff
    ai = add -i
    a = add --all
    d = diff
    ps = push
    pl = pull --rebase
    pr = pull --rebase
    l = log --oneline
    lg = log --oneline --graph --decorate
    ss = stash
    sp = stash pop
    cp = cherry-pick
