alias g="git"
alias gp="git push"
alias gpr="git pull --rebase"
alias gc="git checkout"
alias gs="git status"
alias glcp="git log --pretty=format:'%h' -n 1 | pbcopy"
alias gbpurge="git branch --merged | grep -v "\*" | grep -v "master" | grep -v "develop" | xargs -n 1 git branch -d"

alias mfa="amigo-cli iam mfa deyvison.rocha"

export AMIGO_HUB_PATH="~/projects/amigohub"
alias amigo-rds-dev="amigo-cli ssm start-session -c dev-rds"
alias amigo-redis-dev="amigo-cli ssm start-session -c dev-redis --local-port 6381"
alias amigo-rds-prd="amigo-cli ssm start-session -c prd-rds --local-port 5433"
alias amigo-rds-prd-read="amigo-cli ssm port-foward -e prd --local-port 5434 --target-port 5432 --host amigo-db2.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-prd-read2="amigo-cli ssm port-foward -e prd --local-port 5445 --target-port 5432 --host amigo-db3.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-prd-backup="amigo-cli ssm port-foward -e prd --local-port 5439 --target-port 5432 --host amigo.cluster-cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-clone="amigo-cli ssm port-foward -e prd --local-port 5437 --target-port 5432 --host temp-clone.cluster-cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-tps="amigo-cli ssm port-foward -e prd --local-port 5445 --target-port 5432 --host tempest-clone.cluster-cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-memorial="amigo-cli ssm port-foward -e prd --local-port 5436 --target-port 5432 --host memorial-clone.cluster-cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-migration="amigo-cli ssm port-foward -e prd --local-port 5444 --target-port 5432 --host migration-clone-db.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-rds-audit="amigo-cli ssm port-foward -e prd --local-port 5450 --target-port 5432 --host prd-amigo-audit.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias amigo-redis-prd="amigo-cli ssm port-foward -e prd --local-port 6380 --target-port 6379 --host prod-amigo-v2.hc5xiu.ng.0001.use1.cache.amazonaws.com"
alias amigo-redis-prd-chat="amigo-cli ssm port-foward -e prd --local-port 6380 --target-port 6379 --host prod-chat.hc5xiu.ng.0001.use1.cache.amazonaws.com"
#alias amigo-redis-dev="amigo-cli ssm port-foward -e dev --local-port 6381 --target-port 6379 --host dev-chat.cbfeha.ng.0001.use1.cache.amazonaws.com"
alias portal-rds-prd="amigo-cli ssm port-foward -e prd --local-port 5438 --target-port 5432 --host prod-portal360.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
alias agendemais-rds-prd="amigo-cli ssm port-foward -e prd --local-port 5440 --target-port 5432 --host agendemais-us-east-1.cocfdbouhbbs.us-east-1.rds.amazonaws.com"
