alias amigo="cd $AMIGO_PATH"
alias amigos="cd $AMIGO_PATH/server"
alias amigoc="cd $AMIGO_PATH/client"
alias ni="node index"
alias gp="git push"
alias gpr="git pull --rebase"
alias gc="git checkout"
alias gs="git status"
